<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to Melissa's personal 1006 homepage!</p>
    <p>Name: Melissa Emerson UNI:me2682</p>
    <img src="/static/IMG_9880.png" alt="Picture of Melissa" width="125" height="200">
    <p>Current Grade in Course: 80.33%</p>
    <p>Major: Earth and Environmental Engineering, Rising Junior</p>
    <a href="https://www.youtube.com/">My Favorite Website</a>
    <a href="http://127.0.0.1:5000/assignments">Assignments</a>
    <a href="http://127.0.0.1:5000/classes">Classes</a>
    </body>
</html>

