<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    <head>
    <body>
    <b>Classes I took this semester:</b>
        <table border="1" frame="BOX">
            <tr>
                <th>Class Name</th>
            </tr>
            <tr>
                <td>Introduction to Applied Math</td>
            </tr>
            <tr>
                <td>Introduction to Probability and Statistics</td>
            </tr>
            <tr>
                <td>Principles of Economics</td>
            </tr>
            <tr>
                <td>Social World</td>
            </tr>
            <tr>
                <td>Undergraduate Research Project</td>
            </tr>
            <tr>
                <td>Intro to Comp For Eng/App Sci</td>
            <tr> 
        </table>
    <p> </p>
    <p> My favorite class this semester is probably Principles of Economics. Mostly because I expected to really dislike the course, but ended up enjoying it.
    <br>Turns out there are people in my family that enjoy chatting about economics for some reason, and I got to have new conversation topics with them.</p>
    <a href="http://127.0.0.1:5000/">Back to Homepage</a>
    </body>
</html>

