<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <head>
    <body>
    <p><u>Topics of Assignments for Spring 2020</u></p>
    <ul>
        <li>Homework 1: Binary numbers, introduction to algorithms, truth tables, structures of programs, list operations</li>
        <li>Homework 2: Selection sort, sequential search, time complexity, projectile motion simulation, utility functions for breast cancer dataset analysis</li>
        <li>Homework 3: Set operations, time complexity, dictionaries, recursion, numpy, vertical percolation, utility functions for breast cancer dataset analysis </li>
        <li>Homework 4: Object oriented programming of a course with students, professors, and assignments </li>
        <li>Midterm: PPM image editor with functions that flip the image horizontally, turn it black and white, and filter unwanted objects appearing in different parts of an image</li>
        <li>Homework 5: Machine learning program that gives statistical information, creates plots, analyzes a breast cancer dataset using knn algoritm, pandas, seaborn </li>
        <li>Final: Create a webpage using Flask and add it into a Git repository
    </ul> 
    <p>Favorite Assignment: Homework 5 was my favorite of the assignments this semester because machine learning is very useful and we uses actual real world data.
    <br> Data visualization, pandas, statistical analysis, and algorithm implementation are probably going to be useful to me in the future. It was fun to work on it as well </p>
    <a href="http://127.0.0.1:5000/">Back to Homepage</a>
    </body>
</html>

